.container {
  display: grid;
  grid-template-columns: 80px 1fr;
  place-items: center;
  border-bottom: 1px solid #e8e9eb;
}

.logo {
  height: 36px;
  width: 36px;
}

.pageTitle {
  font-size: 20px;
}

.pageContent {
  padding: 1.2rem;
}
.sideNav {
  display: grid;
  gap: 1rem;
  margin-bottom: 1.4rem;
}

.mainContent {
  width: 100%;
}

@media (min-width: 43em) {
  .pageContent {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: start;
    justify-items: start;
    padding: 2rem;
  }
}
